# Distribution / packaging
build/
dist/
*.egg-info/
*.eggs/
MANIFEST

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Other files
*.jpg
*.npy
*.json
*.logb 

# data folder
data/

# notebooks folder
notebook/

# _build documentation folder
/docs/_build
poetry.lock
requirements.txt
